aiohttp==3.7.4.post0
aiosqlite==0.17.0
async-timeout==3.0.1
attrs==20.3.0
chardet==4.0.0
greenlet==1.0.0
idna==3.1
multidict==5.1.0
SQLAlchemy==1.4.11
toml==0.10.2
typing-extensions==3.7.4.3
yarl==1.6.3
gunicorn
